.header{
    margin: 10px;
}
.labelCard {
    color: #506E85;
    font-family: 'Proxima Nova', sans-serif; // Make sure to include Proxima Nova in your project
    font-weight: 700;
    font-size: 20px;
    line-height: 24.36px;
  }

  .dicription{
    border: 10px;
    background-color: #f8fbfd;
    padding: 10px;
    border-radius :10px;
    margin-bottom: 10px;
    
    
  }