/* app-toolbar.component.scss */

mat-toolbar {
    height: 64px; /* Set the height of the toolbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Add additional styling as needed */
  