

  
  <mat-card class="example-card">
    <mat-card-header>
        
        <mat-card-title class="titleParinCard">
            <mat-icon svgIcon="home"></mat-icon> 
            Shiba Inu</mat-card-title>
    </mat-card-header>
    <div class="horizontal-line"></div>
    <mat-card-content class="dashboard-card-content">
        <mat-grid-list cols="4" >
            <mat-grid-tile>
                <div class="d-flex flex-column align-items-start justify-content-between mt-0">
                    <img mat-card-md-image src="assets/icons/HomeImage.png" class="image">
                    <p class="title">This card indeterminates progress bar.</p>
                    <p class="detail">{{longText}}</p>
                  </div>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="d-flex flex-column align-items-start justify-content-between mt-0">
                    <img mat-card-md-image src="assets/icons/HomeImage.png" class="image">
                    <p class="title">This card indeterminates progress bar.</p>
                    <p class="detail">{{longText}}</p>
                  </div>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="d-flex flex-column align-items-start justify-content-between mt-0">
                    <img mat-card-md-image src="assets/icons/HomeImage.png" class="image">
                    <p class="title">This card indeterminates progress bar.</p>
                    <p class="detail">{{longText}}</p>
                  </div>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="d-flex flex-column align-items-start justify-content-between mt-0">
                    <img mat-card-md-image src="assets/icons/HomeImage.png" class="image">
                    <p class="title">This card indeterminates progress bar.</p>
                    <p class="detail">{{longText}}</p>
                  </div>

            </mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
 
  </mat-card>
