<!-- Cards with media area -->

<div class="container"  >
    
    <div class="card">
        <img src="https://picsum.photos/130/130?image=1027" alt="User Image" class="custom-imageuser">
        <h2  class="username">{{ userData.name }}</h2>
        <p class="companyname" >{{ userData.company.name }}</p>
    
    </div>
</div>
  
<!-- <div class="container"
     fxLayout
>
<div class="card">
        <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
        <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
        <p>Hamzah zeade</p>
  </div>
  <div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>
<div class="card">
    <img src="https://picsum.photos/130/130?image=1027" alt="User Image">
    <p style="color: #47a1f6; font-family: inherit;">Loren Epsen.</p>
    <p>Hamzah zeade</p>
</div>

       
</div> -->
<!-- <div class="our-team">
    <div class="picture">
    <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
    </div>
    <div class="team-content">
    <h3 class="name">Michele Miller</h3>
    <h4 class="title">Web Developer</h4>
    </div>
  
</div> -->


 
    


  